.nav {
  padding: 0 28px;
  margin-bottom: 20px;
}

.right,
.left,
.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.gap {
  flex: 1 1 auto;
}

.left [data-active='true'] {
  font-weight: bold;
}

.left a {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 8px 16px;
}

.right button {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 8px 16px;
}
