.page {
  background: white;
  padding: 2rem;
}

.actions {
  margin-top: 2rem;
}

.my-button {
  background: #ececec;
  border: 0;
  border-radius: 0.125rem;
  padding: 1rem 2rem;
}

.my-button + .my-button {
  margin-left: 1rem;
}
